body {
  background-image: url(https://image.freepik.com/free-vector/hand-painted-watercolor-plants-background_79603-1497.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  text-align: center;
  animation: mainAnimation 2.5s;
}

@keyframes mainAnimation {
  from {
    transform: translateY(-120%);
  }
  to {
    transform: translateY(0%);
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 38%;
}

#alma {
  font-family: "Dancing Script", cursive;
  font-size: 28px;
  background: -webkit-linear-gradient(bottom, #04415c, #0b78a7, #3bccd6);
  background: linear-gradient(top, gold, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 3% 25%;
  border-radius: 2.5%;
  padding: 1%;
   transition: all 0.4s ease-in-out;
}

#alma:hover{
   background: -webkit-linear-gradient(top, rgb(48, 51, 196), rgb(18, 216, 216));
  background: linear-gradient(top, gold, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.itemFormulario {
  margin-bottom: 1%;
  border: 1px solid rgba(80, 131, 127, 0.671);
  border-radius: 5px;
  background-color: rgba(247, 241, 230, 0.671);
}

legend,
optgroup {
  text-align: center;
  font-weight: bold;
  color: rgb(18, 23, 131);
  line-height: 25px;
}

label,
option {
  color: rgb(15, 21, 138);
  line-height: 4px;
}

input[type="email"],
input[type="text"],
input[type="number"] {
  padding: 1%;
  margin-bottom: 10px;
  width: 60%;
  color: rgb(14, 19, 124);
  line-height: 4px;
}

#botoes {
  flex-direction: row;
}

button {
  margin-right: 30px;
  margin-left: 15px;
  padding: 2%;
  background-color: rgba(245, 243, 238, 0.705);
  color: rgb(14, 19, 124);
  font-weight: bold;
  border: 1px solid rgba(80, 131, 127, 0.671);
  border-radius: 10%;
  transition: all 0.3s ease-in-out;
}

#enviar {
  padding-left: 3.8%;
  padding-right: 3.8%;
}

button:hover {
  border: none;
  color: rgb(245, 243, 238);
  background-image: linear-gradient(
    to right,
    #04415c,
    #0b78a7,
    #25aae1,
    #3bccd6
  );
  box-shadow: 0 8px 8px 0 rgba(35, 56, 55, 0.75));
  background-position: 100% 0;
  moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
