body {
  background-image: url(https://image.freepik.com/free-vector/hand-painted-watercolor-plants-background_79603-1497.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  text-align: center;
  animation: mainAnimation 1s;
}

@keyframes mainAnimation {
  from {
    transform: scaleX(30%);
  }
  to {
    transform: scaleX(100%);
  }
}

.container {
  padding: 0 30%;
}

#alma {
  font-family: "Dancing Script", cursive;
  font-size: 34px;
  background: -webkit-linear-gradient(top, rgb(48, 62, 196), rgb(18, 216, 216));
  background: linear-gradient(top, gold, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 3% 25%;
  border-radius: 2.5%;
  padding: 1%;
}

.itemFormulario {
  margin-bottom: 1%;
  border: 1px solid rgba(80, 131, 127, 0.671);
  border-radius: 5px;
  background-color: rgba(247, 241, 230, 0.671);
}

legend,
optgroup {
  text-align: center;
  font-weight: bold;
  color: rgb(18, 23, 131);
}

label,
option {
  color: rgb(15, 21, 138);
}

input[type="email"],
input[type="text"],
input[type="number"] {
  padding: 1%;
  margin-bottom: 10px;
  width: 60%;
  color: rgb(14, 19, 124);
}

fieldset:nth-child(1) label {
  display: block;
}

button {
  margin-right: 30px;
  margin-left: 15px;
  padding: 2%;
  background-color: rgba(245, 243, 238, 0.705);
  color: rgb(14, 19, 124);
  font-weight: bold;
  border: 1px solid rgba(80, 131, 127, 0.671);
  border-radius: 10%;
  transition: all 0.3s ease-in-out;
}

#enviar {
  padding-left: 3.8%;
  padding-right: 3.8%;
}

button:hover {
  background-color: rgb(28, 89, 97);
  border: 1px solid rgba(73, 139, 133, 0.671);
  color: rgb(245, 243, 238);
}
